<ion-split-pane>
    <ion-header>
        <ion-navbar color="primary">
            <button ion-button menuToggle>
                <ion-icon name="menu"></ion-icon>
            </button>
            <!-- <ion-buttons end>
                <button ion-button icon-only>
                    <ion-icon name="search"></ion-icon>
                </button>
            </ion-buttons> -->
            <ion-title>Shows</ion-title>
        </ion-navbar>
    </ion-header>


    <ion-content class="main-div">
        <div class="slide-div airing-today">
            <p class="airing-today-title">Airing Today</p>
            <ion-slides #imgSlides loop="true" class="image-slider" slidesPerView='2'>
                <ion-slide class="sliding-img" *ngFor="let img of seriesArr">
                    <ion-card (click)="navToShow(img)">
                        <div class="icon-div">
                            <ion-icon name="bookmark" class="icon-bm"></ion-icon>
                            <img [src]="imgConfigPath+img.poster_path" />
                        </div>
                    </ion-card>
                </ion-slide>
            </ion-slides>
        </div>

        <div class="popular-div">
            <ion-grid class="tv-grid">
                <ion-row>
                    <ion-col col-8 class="tv-grid">
                        <p class="popular-shows-title">Popular Shows</p>
                    </ion-col>
                    <ion-col>
                        <ion-buttons end class="btn-end">
                            <button ion-button small (click)="navToPopularTv()" color="primary" outline>more</button>
                        </ion-buttons>
                    </ion-col>
                </ion-row>
            </ion-grid>

            <ion-slides slidesPerView='3'>
                <ion-slide *ngFor="let img of popularShowsArr">
                    <ion-card (click)="navToShow(img)" class="populer-card">
                        <img [src]="imgConfigPath+img.poster_path" />
                    </ion-card>
                </ion-slide>
            </ion-slides>
        </div>

        <div class="toprated-div">
            <ion-grid class="tv-grid">
                <ion-row>
                    <ion-col col-8 class="tv-grid">
                        <p class="toprated-shows-title">Top Rated</p>
                    </ion-col>
                    <ion-col>
                        <ion-buttons end class="btn-end">
                            <button ion-button small class="" color="primary" outline>more</button>
                        </ion-buttons>
                    </ion-col>
                </ion-row>
            </ion-grid>

            <ion-slides slidesPerView='3'>
                <ion-slide *ngFor="let img of topRatedArr">
                    <ion-card (click)="navToShow(img)" class="populer-card">
                        <img [src]="imgConfigPath+img.poster_path" />
                    </ion-card>
                </ion-slide>
            </ion-slides>
        </div>

    </ion-content>

    <ion-footer>
        <ion-toolbar color="dark">
            <!-- <ion-scroll scrollX="true" scrollY="true" style="width: 100%; height: 100%"> -->
            <ion-item *ngFor="let details of searchResults" (click)="navToShow(details)">
                <div class="search-div" item-start>
                    <img [src]="imgConfigPath+details.poster_path">
                </div>
                <p>{{details.overview}}</p>
            </ion-item>
            <!-- </ion-scroll> -->
            <ion-searchbar [(ngModel)]="searchInput" (ionCancel)="onCancel($event)" (ionInput)="filterItems($event)" (ionClear)="onClear($event)" [showCancelButton]="false" showCancelButton='true' animated="true" placeholder="Search"></ion-searchbar>
        </ion-toolbar>
    </ion-footer>

</ion-split-pane>