page-tvpage {
    .img-div {
        padding: 0;
        position: absolute;
        top: -15vh;
    }
    .bgimg-div {
        background-color: #ee6e73;
        width: auto;
        height: 30vh;
    }
    .info-grid{
        padding: 0 5px 0 15px;
    }
    .img-col{
        padding: 0;
    }
    .show-img {
        width: auto;
        border-radius: 7px;
        box-shadow: 3px 3px 10px 1px #2d2d2d;
    }
    .show-list {
        margin: 7vh 0 0 0;
    }
    .show-title{
        font-weight: 500;
        color: #202020;
        padding-bottom: 8px;
    }
    .bg-grid {
        padding: 0;
    }
    .rate-btn {
        border-radius: 10px;
    }
}