page-tvpage {
    .sliding-img {
        top: 0;
        left: -25%;
    }
    .img-div {
        padding: 0;
        //position: absolute;
        //top: -15vh;
    }
    .bg-img {
        height: 50vh;
        width: 100%;
    }
    .info-grid {
        padding: 0 5px 0 15px;
    }
    .season-item {
        background-color: #303030;
    }
    .season-item h4 {
        color: #FFFFFF;
    }
    .img-col {
        padding: 0;
    }
    .show-img {
        width: auto;
        border-radius: 7px;
        box-shadow: 3px 3px 10px 1px #2d2d2d;
    }
    .show-list {
        margin-top: 2rem;
    }
    .overview {
        color: #fff;
        //font-weight: 300
    }
    .show-title {
        font-weight: 500;
        color: #FFFFFF;
        padding-bottom: 8px;
    }
    .show-p {
        font-weight: 500;
        color: #202020;
        font-size: 1.1em;
        margin: 0;
        padding-left: 16px;
    }
    .prod-p {
        font-weight: 300;
        color: #202020;
        font-size: 0.8em;
        margin: 0;
    }
    .details {
        font-weight: 500;
        color: #FFFFFF;
        font-size: 1.1em;
        margin: 0;
    }
    .div-details {
        margin-bottom: 3rem;
        background-color: #ee6e73;
        text-align: left;
    }
    .show-year {
        font-weight: 500;
        color: #202020;
        //display: inline;
        margin-top: 5px;
        padding-left: 8px;
        padding-top: 6px;
    }
    .recommend-div {
        margin-top: 3rem;
    }
    .card p {
        margin: 0 0 2px;
        font-size: 1.2rem;
        font-weight: normal;
        line-height: 1.6;
        color: #fff;
    }
    .rec-name {
        background-color: #ee6e73;
        padding: 5px 0;
        color: #fff;
        font-weight: 300;
    }
    .bg-grid {
        padding: 0;
    }
    .rate-btn {
        border-radius: 10px;
        display: block;
    }
    .cal-icon {
        font-size: 2em;
        padding: 5px 5px 0 10px;
        display: block;
    }
    .cal-span {
        display: block;
    }
    .icon-chip {
        margin-right: 5px;
        background-color: #202020;
    }
    .dark_bg {
        background-color: rgba(0, 0, 0, 0.8);
        position: absolute;
        top: 0;
        width: 100%;
        height: 50vh;
    }
    .trailer-h{
        position: absolute;
        top: 20vh;
        left: 25vh;
        font-size: 5rem;
        // color: #fff;
    }
    .ion_content {
        background-color: #ee6e73;
    }
}