<ion-header>
    <ion-navbar color="primary">
        <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title *ngFor="let title of tvdetails">{{title.name}}</ion-title>
    </ion-navbar>
</ion-header>


<ion-content>
    <ion-grid class="bg-grid">
        <ion-row>
            <ion-col col-12 col-sm-12 col-md-12 class="bg-grid">
                <div class="bgimg-div">
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>

    <ion-grid class="info-grid">
        <ion-row *ngFor="let img of tvdetails">
            <ion-col col-4 class="img-col">
                <div class="img-div">
                    <img class="show-img" [src]="fullImagePath + img.poster_path" />
                </div>
            </ion-col>
            <ion-col col-4>
                <button class="rate-btn" ion-button icon-start>
            <ion-icon name="star" color="rating"></ion-icon>
                {{img.vote_average}}
            </button>
            </ion-col>
            <ion-col col-4>

            </ion-col>
        </ion-row>
    </ion-grid>

    <ion-list class="show-list">
        <ion-item text-wrap *ngFor="let title of tvdetails">
            <h2 class="show-title">{{title.name}}</h2>
            <p [innerHTML]="title.overview"></p>
        </ion-item>
    </ion-list>
    
    <div>
        <ion-slides slidesPerView='2'>
            <ion-slide class="sliding-img" *ngFor="let img of tvImageArr">
                <ion-card>
                    <img [src]="fullImagePath + img.file_path" />
                </ion-card>
            </ion-slide>
        </ion-slides>
    </div>

</ion-content>